.post {
  display: flex;
  border-bottom: 1px solid #e6ecf0;
  margin-bottom: 2px;
  padding: 25px 15px;
}

.post:hover {
  background: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.post a {
  color: var(--primary-red);
  text-decoration: none;
}

.post a:hover {
  text-decoration: underline;
}

.post__author-logo {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin-right: 10px;
}

.post__header {
  display: flex;
}

.post__author-name {
  font-size: 15px;
  font-weight: 700;
  color: #14171a;
  margin-right: 5px;
}

.post__author-slug {
  color: #5b7083;
  font-size: 15px;
}

.post__publish-time {
  margin-left: 5px;
  color: #657786;
}

.post__image {
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
}

.post__content {
  font-size: 0.9rem;
  line-height: 1.4;
  margin: 8px 0;
}

.post__actions {
    display: flex;
    gap: 80px;
    margin-top: 12px;
}

.post__action-button {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #536471;
    transition: color 0.2s ease;
    cursor: pointer;
}

.post__action-button:hover {
  filter: brightness(0) saturate(100%) invert(20%) sepia(92%) saturate(7486%) hue-rotate(354deg) brightness(95%) contrast(108%);
}

.post__action-icon {
    width: 18px;
    height: 18px;
    opacity: 0.9;
}


.post__action-count {
    font-size: 13px;
}
