@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* COLOR SCHEME (use these variables instead of hardcoding colors in) */
:root {
    --primary-red: #e63946;
    --hover-red: #d62828;
    --active-red: #9e1b1b;
    --background-red: #f1f5f9;
    --border-red: #d7b4b4;
    --text-dark-red: #4a0909;
    --text-light-red: #ffefef;
}

* {
    box-sizing: border-box;
}

body, html {
    font-family: "Urbanist", sans-serif;
    background-color: rgb(247, 247, 247);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}
